body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe6e6;
    color: #333;
}

header {
    background-color: #ff4d4d;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#message h2 {
    color: #ff4d4d;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery-container img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff4d4d;
    color: white;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.audio-container {
    text-align: center;
}
nav h2{
    display: flex;
    align-items: center;
    justify-content: center;
    } 
